<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Current Tournaments - ATP Tracker</title>

		<style>
			ul {
				list-style-type: none;
			}

			details > summary {
				list-style: none;
			}

			details > summary::-webkit-details-marker {
				display: none;
			}
		</style>
	</head>
	<body>
		<header>
			<a href="#mainHeading">Skip to Main Content</a>
			<nav>
				<ul>
					<li>
						<a href="/">Current Tournaments</a>
					</li>
					<li>
						<details>
							<summary id="calendarsLabel">Tournament Calendars</summary>
							<ul aria-labelledby="calendarsLabel">
								<li>
									<a href="/calendars/main">Main Tour</a>
								</li>
								<li>
									<a href="/calendars/challenger">Challengers</a>
								</li>
							</ul>
						</details>
					</li>
					<li>
						<details>
							<summary id="rankingsLabel">Player Rankings</summary>
							<ul aria-labelledby="rankingsLabel">
								<li>
									<a href="/rankings/singles">Singles</a>
								</li>
								<li>
									<a href="/rankings/doubles">Doubles</a>
								</li>
								<li>
									<a href="/rankings/singles/finals">Singles Tour Finals Race</a>
								</li>
								<li>
									<a href="/rankings/doubles/finals">Doubles Tour Finals Race</a>
								</li>
								<li>
									<a href="/rankings/singles/next-gen">Singles Next Gen Finals Race</a>
								</li>
								<li>
									<a href="/rankings/atp-cup">ATP Cup</a>
								</li>
							</ul>
						</details>
					</li>
					<li>
						<a href="/videos">Videos</a>
					</li>
					<li>
						<details>
							<summary>Player Search</summary>
							<p>Nothing here yet.</p>
						</details>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h1 id="mainHeading" tabindex="-1">Current Tournaments</h1>
			{{if .}}
				<ul aria-labelledby="mainHeading">
					{{range .}}
						<li>
							<details>
								<summary>
									<h2 id="eventHeading-{{.ID}}">{{.Name}} {{.Type}} ({{.SinglesDrawSize}} singles / {{.DoublesDrawSize}} doubles on {{.Surface}})</h2>
								</summary>
								<ul aria-labelledby="eventHeading-{{.ID}}">
									<li><a href="/tournament/{{.ID}}/{{.Year}}">Overview</a></li>
								</ul>
							</details>
						</li>
					{{end}}
				</ul>
			{{else}}
				<p>No tournaments are currently in progress.</p>
			{{end}}
		</main>
		<footer>
			<p>Unless otherwise stated, all data is copyright and property of <a href="https://www.atptour.com/">ATP Tour, Inc.</a> and related bodies. It is used here without explicit permission for purposes of increasing the accessibility of that data to disabled audiences.</p>
			<a href="https://github.com/jscholes/atptracker">ATP Tracker on GitHub</a>
		</footer>
	</body>
</html>