{{template "layout" .}}

{{define "pageTitle"}}Current Tournaments{{end}}
{{define "mainHeading"}}Current Tournaments{{end}}

{{define "main"}}
	{{if .}}
		<ul aria-labelledby="mainHeading">
			{{range .}}
				<li>
					<details>
						<summary>
							<span role="heading" aria-level="2" id="eventHeading-{{.ID}}">{{.Name}}</span>
						</summary>
						<p>{{.Type}} ({{.SinglesDrawSize}} singles / {{.DoublesDrawSize}} doubles on {{.Surface}})</p>
						<ul aria-labelledby="eventHeading-{{.ID}}">
							{{if .HasOverview}}<li><a href="/tournament/{{.ID}}/{{.Year}}">Overview</a></li>{{end}}
							{{if .HasLiveScores}}<li><a href="/tournament/{{.ID}}/{{.Year}}/scores">Scores</a></li>{{end}}
							{{if .HasResults}}<li><a href="/tournament/{{.ID}}/{{.Year}}/results">Results</a></li>{{end}}
							{{if .HasDraw}}<li><a href="/tournament/{{.ID}}/{{.Year}}/draw">Draw</a></li>{{end}}
							{{if .HasSchedule}}<li><a href="/tournament/{{.ID}}/{{.Year}}/schedule">Schedule</a></li>{{end}}
							{{if .HasSeedsList}}<li><a href="/tournament/{{.ID}}/{{.Year}}/seeds">Seeds</a></li>{{end}}
							{{if .HasFullPlayersList}}<li><a href="/tournament/{{.ID}}/{{.Year}}/players">All Players</a></li>{{end}}
							{{if .HasPrizePointBreakdown}}<li><a href="/tournament/{{.ID}}/{{.Year}}/prizes">Prize Money and Point Breakdown</a></li>{{end}}
						</ul>
					</details>
				</li>
			{{end}}
		</ul>
	{{else}}
		<p>No tournaments are currently in progress.</p>
	{{end}}
{{end}}