{{template "layout" .}}

{{define "pageTitle"}}Players{{end}}
{{define "mainHeading"}}Players{{end}}

{{define "main"}}
	{{if .}}
		<ul aria-labelledby="mainHeading">
			{{range .}}
				<li>
					<details>
						<summary>
							<span role="heading" aria-level="2" id="eventHeading-{{.ID}}">{{.Name}}</span>
						</summary>
						<a href="#eventHeading-{{.ID}}-unseeded">Skip to {{.Name}} Unseeded Players</a>
						<h3 id="eventHeading-{{.ID}}-seeded">Seeds</h3>
						{{if .SeededPlayers}}
							<ul aria-labelledby="eventHeading-{{.ID}} eventHeading-{{.ID}}-seeded">
								{{range .SeededPlayers}}
									<li>{{.Name}} ({{.Country}}){{if .Seeded}} [{{.Seed}}]{{end}}</li>
								{{end}}
							</ul>
						{{else}}
							<p>No seeds found for this event.</p>
						{{end}}
						<h3 tabindex="-1" id="eventHeading-{{.ID}}-unseeded">Unseeded Players</h3>
						{{if .UnseededPlayers}}
							<ul aria-labelledby="eventHeading-{{.ID}} eventHeading-{{.ID}}-unseeded">
								{{range .UnseededPlayers}}
									<li>{{.Name}} ({{.Country}}){{if .Seeded}} [{{.Seed}}]{{end}}</li>
								{{end}}
							</ul>
						{{else}}
							<p>No unseeded players found for this event.</p>
						{{end}}
					</details>
				</li>
			{{end}}
		</ul>
	{{else}}
		<p>No players found for this tournament.</p>
	{{end}}
{{end}}