{{template "layout" .}}

{{define "pageTitle"}}Players{{end}}
{{define "mainHeading"}}Players{{end}}

{{define "main"}}
	{{$tournamentID := .Tournament.ID}}
	{{$tournamentYear := .Tournament.Year}}

{{if .Players}}
		<ul aria-labelledby="mainHeading">
			{{range .Players}}
				<li>
					<details>
						<summary>
							<span role="heading" aria-level="2" id="eventHeading-{{.ID}}">{{.Name}}</span>
						</summary>
						<a href="#eventHeading-{{.ID}}-unseeded">Skip to {{.Name}} Unseeded Players</a>
						<h3 id="eventHeading-{{.ID}}-seeded">Seeds</h3>
						{{if .SeededPlayers}}
							<table aria-labelledby="eventHeading-{{.ID}} eventHeading-{{.ID}}-seeded">
								<thead>
									<tr>
										<th scope="col" role="columnheader">Player</th>
										<th scope="col" role="columnheader">Singles Ranking</th>
										<th scope="col" role="columnheader">Doubles Ranking</th>
									</tr>
								</thead>
								<tbody>
									{{range .SeededPlayers}}
										<tr>
											<th scope="row" role="rowheader"><a href="/tournament/{{$tournamentID}}/{{$tournamentYear}}/player/{{.ID}}">{{.Name}} ({{.Country}}){{if .Seeded}} [{{.Seed}}]{{end}}</a></th>
											<td>{{if .HasSinglesRanking}}{{.SinglesRanking}}{{else}}Unranked{{end}}</td>
											<td>{{if .HasDoublesRanking}}{{.DoublesRanking}}{{else}}Unranked{{end}}</td>
										</tr>
									{{end}}
								</tbody>
							</table>
						{{else}}
							<p>No seeds found for this event.</p>
						{{end}}
						<h3 tabindex="-1" id="eventHeading-{{.ID}}-unseeded">Unseeded Players</h3>
						{{if .UnseededPlayers}}
							<table aria-labelledby="eventHeading-{{.ID}} eventHeading-{{.ID}}-unseeded">
								<thead>
									<tr>
										<th scope="col" role="columnheader">Player</th>
										<th scope="col" role="columnheader">Singles Ranking</th>
										<th scope="col" role="columnheader">Doubles Ranking</th>
									</tr>
								</thead>
								<tbody>
									{{range .UnseededPlayers}}
										<tr>
											<th scope="row" role="rowheader"><a href="/tournament/{{$tournamentID}}/{{$tournamentYear}}/player/{{.ID}}">{{.Name}} ({{.Country}})</a></th>
											<td>{{if .HasSinglesRanking}}{{.SinglesRanking}}{{else}}Unranked{{end}}</td>
											<td>{{if .HasDoublesRanking}}{{.DoublesRanking}}{{else}}Unranked{{end}}</td>
										</tr>
									{{end}}
								</tbody>
							</table>
						{{else}}
							<p>No unseeded players found for this event.</p>
						{{end}}
					</details>
				</li>
			{{end}}
		</ul>
	{{else}}
		<p>No players found for this tournament.</p>
	{{end}}
{{end}}